<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fax or Cap?</title>
    <link rel="stylesheet" href="/new_user/new_user.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css">
</head>
<body>
    <div class="card bg-dark rounded-3 ">
        <h3 class="card-header text-white border-white text-center">
            Welcome <%= account.username %>!
        </h3>
        <div class="card-body">
            <h5 class="card-text text-white text-center mb-4">
                Pick a username
            </h5>
            <div class="container text-center my-3">
                <input type="text" name="new-username" id="new-username-input">
                <label class="text-white d-none" for="new-username">ez</label>
            </div>
            <div class="container text-center">
                <button id="submit-button" class="btn btn-primary">Submit</button>
            </div>
            <div class="container text-center mt-3">
                <h5 id="message-field">Test</h5>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/new_user/new_user.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>