<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fax or Cap?</title>
    <link rel="stylesheet" href="/signin/signin.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.min.css">
    <script src="http://accounts.google.com/gsi/client" async></script>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' http://accounts.google.com/gsi/client">
</head>
<body>
    <div class="card bg-dark rounded-3 ">
        <h3 class="card-header text-white border-white text-center">
            Sign out of Fax or cap
        </h3>
        <div class="card-body">
            <div class="w-50 container justify-content-center">
                <button id="signout_button" class="btn btn-white text-white g_id_signout">Log out</button>
            </div>
        </div>
    </div>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/profile/profile.js"></script>
</body>
</html>